name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: SonarCloud Scan
    # CHANGE ICI : Utilise ubuntu-latest pour le scan
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Update à v4 tant qu'à faire
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run tests and generate coverage
        run: npm run test -- --coverage || exit 0

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          # Optionnel : si ces infos sont dans sonar-project.properties, 
          # tu peux les enlever d'ici pour éviter les warnings.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Obligatoire pour SonarCloud
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}